<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	<bean id="cancelRkController" class="com.tntxia.oa.mvc.actions.CancelRkAction"></bean>
	<bean id="viewRkController" class="com.tntxia.oa.mvc.actions.ViewRkAction"></bean>
	
	<bean id="viewPdController" class="com.tntxia.oa.mvc.actions.ViewPdResultAction"></bean>
	<bean id="pdController" class="com.tntxia.oa.mvc.actions.PdAction"></bean>
	<bean id="pdProcessController" class="com.tntxia.oa.mvc.actions.PdProcessAction"></bean>
	
	
	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/warehouse/in/cancelRk.dispatch">cancelRkController</prop>
				<prop key="/warehouse/in/viewRk.dispatch">viewRkController</prop>
				<prop key="/warehouse/pd/viewPdResult.dispatch">viewPdController</prop>
				<prop key="/warehouse/pd/pd.dispatch">pdController</prop>
				<prop key="/warehouse/pd/pdProcess.dispatch">pdProcessController</prop>
			</props>
		</property>
	</bean>
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
</beans>
